/*CSS code here*/
.bg-primary {
    background-color: #ff7700 !important;
}

.btn-primary {
    background-color: #964d00 !important;
}

.nav-link {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .nav-item {
        text-align: center;
    }
}

